@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* ----- VARIABLER ----- */
:root {
  --bg-main: #2d283e;
  --bg-card: #221e2f;
  --bg-comment: #39334e;
  --bg-input: #463f5d;

  --border-color: #564f6f;

  --text-main: #d1d7e0;
  --text-muted: #676085;

  --accent: #812bb2;
  --accent-hover: #913bc7;
  --accent-disabled: #72269d;

  --danger: #fb5050;
  --danger-hover: #fd6f6f;

  --font-main: "Space Mono", monospace;
}

/* ----- GRUNDLÄGGANDE LAYOUT ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-main);
  color: var(--text-main);
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-main);
  color: var(--text-muted);
  font-weight: 700;
  font-size: 0.75rem;
  text-align: center;
  z-index: 10;
}

/* Huvudinnehåll */
main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-bottom: 1.5rem;
  border-radius: 30px;
}

/* Titlar */
h2 {
  color: var(--text-muted);
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  margin: 1rem 0;
}

h4 {
  font-size: 1.2rem;
  color: var(--text-muted);
}

/* Formulär */
label {
  display: block;
  margin: 1rem 0 0.5rem;
  color: var(--text-muted);
  font-weight: 700;
  font-size: 1rem;
}

input[type="text"], textarea {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--text-muted);
  border-radius: 10px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-main);
}

textarea {
  resize: none;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  border-color: var(--accent);
}

.input-group:focus-within label {
  color: var(--accent) !important;
}

input::placeholder, textarea::placeholder {
  font-style: italic;
  color: var(--text-muted);
  opacity: 0.6;
}

/* Knappar */
button, input[type="submit"] {
  border: none;
  border-radius: 10px;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 1rem;
  color: var(--bg-main);
  transition: 0.3s;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--accent);
}

.btn-primary:hover {
  background-color: var(--accent-hover);
}

.btn-danger {
  background-color: var(--danger);
}

.btn-danger:hover {
  background-color: var(--danger-hover);
}

.selected {
  background-color: var(--accent-hover) !important;
}

.disabled {
  background-color: var(--accent-disabled) !important;
  cursor: not-allowed;
}

/* ----- FORMULÄR FÖR NYTT INLÄGG ----- */
#new-post {
  width: 700px;
  padding: 1.5rem;
  background-color: var(--bg-card);
}

#new-post h2 {
  margin: 0 0 1.5rem 0;
}

#new-post input[type="text"], #new-post textarea {
  background-color: var(--bg-main);
}

#new-post textarea {
  height: 150px;
}

#post-btn {
  float: right;
  margin-top: 1.5rem;
  padding: 0.75rem;
}

/* ----- SEKTION FÖR BLOGGINLÄGG ----- */
#blog {
  width: 900px;
  margin-top: 1.5rem;
}

#blog h2 {
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1.5rem;
}

#posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: 900px;
  border-bottom: 2px solid var(--border-color);
  padding: 1.5rem 1.5rem 3rem 1.5rem;
}

/* Inläggsmeta */
.post-meta {
  font-size: 1rem;
  color: var(--text-muted);
}

.post-meta time {
  margin-left: 0.6rem;
}

.post-content {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

/* ----- REAKTIONER (LIKE/DISLIKE) ----- */
.reactions {
  display: inline-block;
}

.reactions button {
  margin: 1.5rem 1rem 0 0;
  padding: 0.5rem 1rem;
}

.remove-button {
  float: right;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
}

/* ----- MEDDELANDE OM INGA INLÄGG ----- */
#empty-message {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: var(--text-main);
  text-align: center;
}

/* ----- KOMMENTARER ----- */
.comment-section {
  background-color: var(--bg-comment);
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 30px;
}

.comment-section h4 {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1rem;
}

.comment-list {
  max-height: 350px;
  overflow-y: auto;
}

.comment {
  border-bottom: 2px solid var(--border-color);
}

.comment h5 {
  font-size: 1rem;
  display: inline-block;
  margin: 1.5rem 0.6rem 1rem 0;
}

.comment-meta {
  font-size: 1rem;
  display: inline-block;
  color: var(--text-muted);
  margin-right: 1rem;
}

.comment button {
  float: right;
  margin: 1.5rem 0 1rem 0;
  padding: 0.2rem 0.7rem;
  border-radius: 7px;
}

.comment p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* Kommentarsformulär */
.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-form input[type="text"], .comment-form textarea {
  background-color: var(--bg-input);
}

.comment-form textarea {
  height: 70px;
  resize: none;
}

#comment-btn {
  align-self: flex-end;
  margin-top: 1.5rem;
  padding: 0.75rem;
}

#comment-form-title {
  margin: 1.5rem 0 0;
  font-size: 1.2rem;
  color: var(--text-muted);
  border: none;
}

/* FOOTER */
footer {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 1rem 1rem;
  color: var(--text-muted);
  text-align: center;
}

/* RESPONSIV DESIGN */
@media only screen and (max-width: 992px) {
  #new-post {
    width: 500px;
  }

  #blog, article {
    width: 700px;
  }
}

@media only screen and (max-width: 768px) {
  #new-post, #blog, article {
    width: 500px;
  }

  .comment button {
    float: none;
    margin-top: 0;
  }
}

@media only screen and (max-width: 550px) {
  #new-post, #blog, article {
    width: 335px;
  }

  article {
    padding: 0 0 1.5rem 0;
  }

  .comment-meta {
    margin-bottom: 1rem;
  }

  #post-btn, #comment-btn, .remove-button {
    float: none;
    width: 100%;
  }

  .comment button {
    float: none;
    margin-top: 0;
  }
}
